/*=========================
   RESET
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:
"Segoe UI",
Tahoma,
sans-serif;
}

body{
background:
linear-gradient(
135deg,
#f1f5f9,
#e2e8f0
);
min-height:100vh;
padding:20px;
display:flex;
justify-content:center;
align-items:center;
}

/* =========================
   CONTAINER
========================= */

.container{
width:100%;
max-width:750px;
}

.card{
background:#fff;
border-radius:20px;
padding:30px;
box-shadow:
0 20px 50px
rgba(
0,
0,
0,
0.08
);
height: 90vh;
position:relative;
overflow-y: auto;
}

/* =========================
   HEADER
========================= */

.header{
display:flex;
justify-content:
space-between;
align-items:center;
margin-bottom:35px;
gap:20px;
}

.header h1{
font-size:32px;
font-weight:700;
color:#0f172a;
margin-bottom:5px;
}

.header p{
color:#64748b;
font-size:14px;
}

.header a{
text-decoration:none;
background:#c2c1c0;
color:#333;
padding:12px 18px;
border-radius:10px;
font-weight:600;
transition:.3s;
}

.header a:hover{
transform:
translateY(-2px);
}

/* =========================
   PROGRESS
========================= */

.progress-wrapper{
margin-bottom:40px;
position:relative;
}

.progress-line{
height:5px;
background:#e5e7eb;
border-radius:50px;
position:absolute;
top:20px;
left:0;
width:100%;
}

.progress-fill{
height:100%;
width:0%;
background:#2563eb;
border-radius:50px;
transition:.4s ease;
}

.steps-nav{
display:flex;
justify-content:
space-between;
position:relative;
z-index:2;
}

.nav-step{
display:flex;
flex-direction:column;
align-items:center;
gap:8px;
}

.nav-step span{
width:40px;
height:40px;
border-radius:50%;
background:#e5e7eb;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
transition:.3s;
}

.nav-step.active span{
background:#eb8f25;
color:white;
}

.nav-step small{
font-size:12px;
color:#64748b;
font-weight:600;
}

/* =========================
   FORM AREA
========================= */

.form-stage{
position:relative;
height:420px;
margin-bottom:30px;
overflow:hidden;
}

.step{
position:absolute;
width:100%;
top:0;
left:0;

opacity:0;
visibility:hidden;

transform:
translateX(40px);

transition:
all .35s ease;
}

.step.active{
opacity:1;
visibility:visible;
transform:
translateX(0);
}

.step h2{
font-size:24px;
color:#0f172a;
margin-bottom:25px;
}

/* =========================
   INPUTS
========================= */

.form-group{
margin-bottom:20px;
}

.form-group label{
display:block;
font-weight:600;
margin-bottom:8px;
color:#334155;
}

.form-group input{
width:100%;
padding:14px;
border:1px solid #d1d5db;
border-radius:12px;
font-size:15px;
transition:.3s;
}

.form-group input:focus{
outline:none;
border-color:#2563eb;
box-shadow:
0 0 0 4px
rgba(
37,
99,
235,
0.15
);
}
/* =========================
   PROFIT CARD
========================= */

.profit-card{

    background:#f8fafc;

    border:1px solid #e2e8f0;

    border-radius:15px;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:10px;

    flex-wrap:wrap;

    margin-top:10px;

}

.profit-item{

    flex:1;

    min-width:150px;

}

.profit-card span{

    display:block;

    font-size:13px;

    color:#64748b;

}

.profit-card h3{

    margin-top:6px;

    color:#10b981;

    font-size:24px;

    word-break:break-word;

}
/* =========================
   REVIEW CARD
========================= */

.review-card{
margin-top:20px;
background:#f8fafc;
border:1px solid #e2e8f0;
padding:20px;
border-radius:15px;
}

.review-card p{
margin-bottom:10px;
font-size:15px;
color:#334155;
}

.review-card strong{
color:#0f172a;
}

/* =========================
   BUTTONS
========================= */

.form-actions{
display:flex;
gap:12px;
margin-top:20px;
}

.form-actions button{
flex:1;
padding:15px;
border:none;
border-radius:12px;
font-size:15px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

#prevBtn{
background:#64748b;
color:white;
display:none;
}

#nextBtn{
background:#eb8525;
color:white;
}

#submitBtn{
background:#f8911bfd;;
color:white;
display:none;
}

.form-actions button:hover{
transform:
translateY(-2px);
}

/* =========================
   TOAST
========================= */

.toast{
position:absolute;
bottom:25px;
right:25px;
background:#10b981;
color:white;
padding:15px 20px;
border-radius:12px;
font-weight:600;

opacity:0;
pointer-events:none;

transform:
translateY(20px);

transition:.4s;
}

.toast.show{
opacity:1;
transform:
translateY(0);
}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.card{
padding:20px;
min-height:700px;
}

.header{
flex-direction:column;
align-items:flex-start;
}

.header a{
width:100%;
text-align:center;
}

.steps-nav small{
font-size:10px;
}

.form-stage{
height:380px;
}

.form-actions{
flex-direction:column;
}

}


/* ==========================================
   PROFESSIONAL SCROLLBAR
========================================== */

/* Chrome, Edge, Safari */

::-webkit-scrollbar{
width:10px;
height:10px;
}

::-webkit-scrollbar-track{
background:#f1f5f9;
border-radius:20px;
}

::-webkit-scrollbar-thumb{
background:linear-gradient(
180deg,
#d3d3d3,
#777777
);
border-radius:20px;
border:2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover{
background:linear-gradient(
180deg,
#a7a6a6,
#c5c5c5
);
}

::-webkit-scrollbar-corner{
background:#f1f5f9;
}

/* Firefox */

*{
scrollbar-width:thin;
scrollbar-color:
#c2c2c2
#f1f5f9;
}

