/* ==========================
GLOBAL MODAL
========================== */

:root{

--primary:#dd8c21;
--primary-dark:#ea580c;

--background:#f8fafc;
--card:#ffffff;

--text:#0f172a;
--muted:#64748b;

--border:#e2e8f0;

--shadow:
0 15px 40px rgba(15,23,42,.08);

}



.custom-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(5px);

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    visibility:hidden;
    transition:.35s;

    z-index:99999;
}

.custom-modal.show{
    opacity:1;
    visibility:visible;
}

.modal-box{

    width:90%;
    max-width:420px;

    background:#fff;

    border-radius:24px;

    padding:35px 30px;

    text-align:center;

    box-shadow:0 30px 80px rgba(0,0,0,.25);

    transform:translateY(-120px) scale(.9);

    opacity:0;

    transition:
        transform .55s cubic-bezier(.18,.89,.32,1.28),
        opacity .35s;
}

.custom-modal.show .modal-box{

    transform:translateY(0) scale(1);

    opacity:1;
}

.modal-icon{

    width:50px;
    height:50px;

    margin:auto;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:34px;

    color:#fff;

    margin-bottom:18px;

    background:#e0631a;
}

.modal-icon.error{
    background:#e65757;
}

.modal-icon.warning{
    background:#f50b59;
}

.modal-icon.info{
    background:#3b82f6;
}

.modal-icon.nop{
    background:#f0f0f0;
    color: #e0631a;
}

.modal-box h3{

    font-size:26px;

    color:#bdbdbd;

    margin-bottom:10px;
    font-weight: 700;
}

.modal-box p{

    color:#64748b;

    line-height:1.6;

    margin-bottom:28px;
}

.modal-btn{

    width:100%;

    border:none;

    padding:15px;

    border-radius:16px;

    background:#e28011;

    color:white;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.modal-btn:hover{

    opacity:.9;

    transform:translateY(-2px);
}