*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
}

.navbar{

background:#0f172a;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

.navbar a{

color:white;
text-decoration:none;
margin-left:20px;
}

.container{

padding:30px;
max-width:1200px;
margin:auto;
}

.card{

background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.card p{
margin-bottom:30px;
color:gray;
}

.grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.field{

display:flex;
flex-direction:column;
}

label{

margin-bottom:8px;
font-weight:bold;
}

input,
select{

padding:14px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
}

input:focus,
select:focus{

outline:none;
border:1px solid #2563eb;
}

.btn{

margin-top:30px;
width:100%;
padding:15px;
border:none;
background:#2563eb;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
}

.btn:hover{
background:#1d4ed8;
}

.staff-card{

margin-top:20px;
padding:20px;
border-radius:15px;
background:white;
border-left:5px solid #2563eb;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.badge{

padding:6px 12px;
border-radius:20px;
display:inline-block;
font-size:13px;
}

.green{
background:#dcfce7;
color:green;
}

.red{
background:#fee2e2;
color:red;
}

.top{

display:flex;
justify-content:space-between;
margin-bottom:30px;
align-items:center;
gap:20px;
}

#search{
width:300px;
}

.actions{

display:flex;
gap:10px;
margin-top:10px;
}

.edit-btn,
.delete-btn{

padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
color:white;
}

.edit-btn{
background:#2563eb;
}

.delete-btn{
background:#dc2626;
}

/*==============================
  RESPONSIVE
================================*/

@media(max-width:768px){

.grid{
grid-template-columns:1fr;
}

.staff-card{
grid-template-columns:1fr;
}

.top{
flex-direction:column;
}

#search{
width:100%;
}

}